@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 4%;
    --card: 60 56% 91%;
    --card-foreground: 20 14% 4%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 14% 4%;
    --primary: 45 53% 52%;
    --primary-foreground: 45 100% 11%;
    --secondary: 60 20% 80%;
    --secondary-foreground: 20 14% 4%;
    --muted: 60 20% 85%;
    --muted-foreground: 20 14% 40%;
    --accent: 33 100% 50%;
    --accent-foreground: 33 100% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 45 53% 52%;
    --radius: 0.8rem;

    --chart-1: 33 100% 50%;
    --chart-2: 45 53% 52%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 60 40% 95%;
    --sidebar-foreground: 20 14% 4%;
    --sidebar-primary: 45 53% 52%;
    --sidebar-primary-foreground: 45 100% 11%;
    --sidebar-accent: 60 56% 91%;
    --sidebar-accent-foreground: 20 14% 4%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 45 53% 52%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 45 53% 52%;
    --primary-foreground: 45 100% 11%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 210 20% 60%;
    --accent: 33 100% 50%;
    --accent-foreground: 33 100% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 45 53% 52%;
    
    --chart-1: 33 100% 50%;
    --chart-2: 45 53% 52%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 224 71% 6%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 45 53% 52%;
    --sidebar-primary-foreground: 45 100% 11%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 45 53% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
